# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Latex
*.aux
*.bbl
*.blg
*.bcf
*-blx.bib
*.log
*.synctex.gz
*.run.xml

# VSCode
.vscode


bin/*
!bin/.gitkeep 
lib/*
!lib/.gitkeep 
.ignore